<div class="block">
  <span class="name">OnClick</span>
  <div class="effect-container">
    <div class="object" id="alert"></div>
  </div>
</div>


<div class="block">
  <span class="name">Hover Color</span>
  <div class="effect-container">
    <div class="object" id="changecolor"></div>
  </div>
</div>

<div class="block">
  <span class="name">Hover Grow</span>
  <div class="effect-container">
    <div class="object" id="grow"></div>
  </div>
</div>


<!-- <div class="block"><span class="deep-accent" style="color: #734B5E;">Deep accent color</span>
  <span class="mid-accent" style="color: #BAABBD;">Medium accent color</span><span class="bright-accent" style="color: #B3B3F1;">Bright accent color</span></div> -->
<!--

Have you objects accept hashes
- what if it's not quite that simple?
have your post param values saved into a hash...interesting.

class method to determine whether or not to save a record
if not empty and if not already there


class valid? to validate
!title.empty?
!url.empty?
!otherstuff.empty?
end

def save
 if valid
   do stuff
 end
 end -->
