/**********Fixes******************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
/*****************************************/

html {
  background-color: #F0EDEE;
  font-family: sans-serif;
}

.name {
  color: #734B5E;
  float:left;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

/*******************************/

.container {
  width: 600px;
  margin: 0 auto;
  padding-top: 100px;
}

.block {
  min-height: 70px;
  background-color: #C9C9EE;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.effect-container {
  float: right;
  min-width: 100px;
  margin-right: 20px;
}

.object {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}
